Application:
  Common:
    MemberRoles:
      - group_admin
      - group_editor
      - group_viewer
  Server:
    port: 8000
  Client:
    HomePath: "etc/.mark1"
    ServerEndpoint: "http://localhost:8000"
    UserEmail: "user1@mail.com"
    UserPassword: "secret"
    HomeDir: "etc/.mark1"

Payjp:
  secret: "sk_test_1234567890"